body {
  background-color: #89c997;
  font-family: 'Quicksand', sans-serif;
  background-position: center center;
  background-size: cover;
}

@@media screen and (max-width:640px) {
  body{
    width: 500px;
  }
}

a {
  text-decoration: none;
}

ul, li{
  list-style: none;
}

.top h1{
  text-align: center;
  width: 100%;
  line-height: 70px;
}

.wrapper{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: #4e454a;
}

.top-wrapper form{
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 5px;
}

.top-wrapper form:hover{
  background-color: #626063;
  color: #e8ece9;
}

.wrapper h3{
  font-size: 16px;
}

.wrapper a{
  padding: 15px;
  display: inline-block;
  text-decoration: none;/*ボタン色*/
  color: #4e454a;
  border-radius: 5px;/*角の丸み*/
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.wrapper a:hover{
  color: #e8ece9;
  background-color: #626063
}
